@page "/ClientPage"
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>
        <h3>ClientPage</h3>
    </Authorized>
</AuthorizeView>

@code {
    
}