@page "/CreateBurialRequest"
<h3>Create Burial Request</h3>

<div class="form-group">
    <label for="exampleFormControlInput1">Complete Name</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="John Adrian">
</div>

<div class="form-group">
    <label for="exampleFormControlInput1">Full name of your beloved</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Marius Johnatan">
</div>

<div class="form-group">
    <label for="exampleFormControlInput1">Date of the burial</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="26.05.2025">
</div>

<div class="form-group">
    <label for="exampleFormControlInput1">Location</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Horsens, Denmark">
</div>

<div class="form-group">
    <label for="exampleFormControlInput1">Number of participants</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="John Adrian">
</div>

<button type="button" class="btn btn-info">Create</button>

@code {

   
}