@page "/CreateBurial"
@using Tier_1.Data.PreferenceService
@using Tier_1.Data.BurialService
@inject IPreferenceService PreferenceService
@inject IBurialService BurialService
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>CreateBurial</h3>

@code {
    
}