@page "/FirstPage"
@inject NavigationManager NavigationManager
@inherits LayoutComponentBase

<div class="centered">
    <h1><b>Highway to Heaven</b></h1>
</div>
<div class="container-fluid">

    <div class="row">
        <div class="col-12" id="firstPageButtons">
            <button type="button" @onclick="NavigateToLogin" class="firstPageButtons">Login</button>
            <button type="button" @onclick="NavigateToViewBurialsPreferences" class="firstPageButtons">Burials and Preferences</button>
        </div>
    </div>

</div>

@code {
    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/Login");
    }

    private void NavigateToViewBurialsPreferences()
    {
        NavigationManager.NavigateTo("/ViewBurialsPreferences");
    }
}