@page "/ManageBurialRequest"
<h3>Manage Burial Request</h3>

<div class="card text-white bg-dark mb-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Edit burial</h5>
    <p class="card-text">Here you can edit your burial request.</p>
  </div>
</div>

<div class="card text-white bg-dark mb-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Delete burial</h5>
  </div>
</div>

@code {
    
}