@using Tier_1.Authentication
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
<NavLink class="nav-link" href="">Highway To Heaven</NavLink>

<AuthorizeView>
<NavLink class="nav-link" href="CreateBurial">
    Create burial
</NavLink>
</AuthorizeView>
<NavLink class="nav-link" href="ViewBurialPreferences">
    Burials and Preferences
</NavLink>
<AuthorizeView>
    <NavLink class="nav-link" href="PersonalPage">
        Personal page
    </NavLink>
</AuthorizeView>
<AuthorizeView Policy="Moderator">
    <NavLink class="nav-link" href="/AddPreference">Add preferences</NavLink>
</AuthorizeView>
<AuthorizeView>
        <NavLink class="nav-link" href="FirstPage">
            <span class="oi oi-person" aria-hidden="true"></span>
        </NavLink>
    </AuthorizeView>
    <AuthorizeView>
        <NavLink class="nav-link" href="Logout">
            <span class="oi oi-account-logout"></span>
        </NavLink>
    </AuthorizeView>

@code {
   
}